@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <img src="https://lh3.googleusercontent.com/proxy/Xs_Lq0WxsGeNJy7L3-AnTRaDRqlKLo82ovWItqczT-8cDwg8uDxjpgaXuBOYg4TFVnVLYBDtIKU-fs7K3YZRe7OctRUI5DY7HbLooO5zvtU3" alt="access denied" style="float:left;width:64px;height:64px;" />
    <h1 class="text-danger">Whoops! Access Denied.</h1>
        <p class="text-danger">You do not have access to this resource. </p>
         <br />
            <p>Please try using an account with proper permissions or contact the administrator: tristen.khatibi.9@my.csun.edu</p>
        <br />
    <p><a href="/Home">Click here to return to the Home Page!</a></p>
</header>
