<div class="content-box" *ngIf="recipe">
	<h2>Edit Recipe</h2>
	<app-recipe-data-form buttonText="Save Changes"
												[currentName]="recipe.name"
												[currentTitle]="recipe.title"
												[currentRating]="recipe.rating"
												[currentUploadDate]="recipe.uploadDate"
												[currentIngredients]="recipe.ingredients"
												[currentDirections]="recipe.directions"
												(onSubmit)="onSubmit($event)"></app-recipe-data-form>

</div>
<div class="content-box" *ngIf="!recipe">
	<h3>Getting your recipe out of storage...</h3>
</div>	
