/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


h1, h2, h3, h4, h5 {
  font-family: 'Trocchi', serif;
  font-style: italic;
}



.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


/* some more ig */
body {
  background-color: #197278;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 20px;
}

button {
  background-color: #772E25;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  outline: none;
  padding: 16px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

input, textarea {
    border: 2px solid black;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 16px; 
    padding: 8px;
}

a {
   /* text-decoration: none; */
    color: black;
}

div {
    padding: 8px;
}

#page-wrap {
  background-color: #EDDDD4;
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
  border-color: black;
  border: dotted;
  border-width: 5px;
}

#max-width-column {
    margin: 0 auto;
    max-width: 700px;
    min-height: 100px;
    padding: 16px;
    position: relative;
}

#top-bar {
    border-bottom: 2px solid black;
}

#app-heading {
    margin-top: 0;
}

#my-recipes-button {
    position: absolute;
    top: 16px;
    right: 16px;
}

#content-wrap {
    padding: 16px;
}

.content-box {
  background-color: #F9F9F3;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  margin-bottom: 16px;
}

.buttons-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 16px;
}

.buttons-container > button {
    margin-left: 8px;
}
