@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Tristen Khatibi's COMP 586 Project</h2>
        <p>This is a Recipe Website!</p>.
    </div>
</div>
