
@model RecipeSiteEpic.ViewModels.RecipeWithIngredientsAndDirectionsVM


@*,RecipeSiteEpic.Models.Direction,RecipeSiteEpic.Models.Ingredient*@

@*
    i want to use this display template to display the Ingredients and Directions that are associated with a recipe
        I left the name relating to the VM for now so I dont lose it/forget where it is
*@
@*
    @if (Ingredients != null)
    {
        <tr>
            @foreach (var i in Ingredients)
            {


                <td>
                    @Html.DisplayFor(i.ingredientName)

                </td>
                <td>
                    @Html.DisplayFor(i.ingredientAmount)
                </td>

            }
        </tr>

    }
    else
    {
        <li>nope nothing found, ingredients was null</li>
    }

    @if (Directions != null)
    {
        <tr>
            @foreach (var d in Directions)
            {


                <td>
                    @Html.DisplayFor(d.stepNumber)

                </td>
                <td>
                    @Html.DisplayFor(d.step)
                </td>

            }
        </tr>

    }
    else
    {
        <li>nope nothing found, ingredients was null</li>
    }*@
<li>recipewithingredientsanddirectionsvm called</li>